@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Poppins:wght@300;400;700&display=swap');
*{
    font-family: poppins, sans-serif;
    margin: 0;
    padding: 0;
}
body
{
    /* width: 100vh;  */
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("images/newyear.jpg");
    background-size: cover;
    background-position: center;
    color: white;
}
.container
{
    display: flex;
    gap: 12px;
    margin-bottom: 50px;
}
p
{
    font-size: 13px;
    margin-bottom: 5px;

}
h1
{
    font-size: 25px;
    font-family: inspiration;
}
h2
{
    font-size: 22px;
}
.box
{
    text-align: center;
    width: 50px;
    height: 50px;
    /* border: 1px solid grey; */
    
    margin-top: 10px;
    /* gap: 50px; */
}
small
{
    font-size: 11px;
}

